In [2]:
import pandas as pd
import seaborn as sns

In [3]:
import matplotlib.pyplot as plt

In [70]:
import pandas as pd

# Excel 파일 읽기
df = pd.read_excel('공공자전거 대여소 정보(22.12월 기준).csv',header = 5)

In [71]:
df.head()

   대여소번호(입력)  대여소명  자치구   주소  거치대수   방식  운영여부  설치시기
0       1397   NaN  NaN  NaN   NaN  NaN   NaN   NaN
1        NaN   NaN  NaN  NaN   NaN  NaN   NaN   NaN
2  대여소번호(입력)  대여소명  자치구   주소  거치대수   방식  운영여부  설치시기
3        234   NaN  NaN  NaN   NaN  NaN   NaN   NaN
4        NaN   NaN  NaN  NaN   NaN  NaN   NaN   NaN